doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    .container
      .col-sm-6.col-sm-offset-3.text-center
        .jumbotron
          h1 404
          h4 잘못된 접근입니다
        button.btn.btn-primary(onclick="location.href='/'") 메인페이지 바로가기
